ul
{
    list-style-type: none;
    padding: 0px;
}

ul a 
{
    border: 1px solid red;
    color: #000;
    width: 200px;
    height: 40px;
    display: block;
    background-image: url(../imagens/menu.png);
    text-decoration: none;
    text-indent: 30px;
    line-height: 40px;
}

ul a:hover
{
    background-position: right;
    color: #fff;
}